[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi.doubanio.com"

[packages]
ipython = "*"
flask-migrate = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.6"
