[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi.doubanio.com"

[packages]
alembic = "*"
async-timeout = "*"
attrs = "*"
babel = "*"
backcall = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
decorator = "*"
dominate = "*"
flask = "*"
flask-babel = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
guess-language-spirit = "*"
idna = "*"
idna-ssl = "*"
ipython = "*"
ipython-genutils = "*"
itsdangerous = "*"
jedi = "*"
mako = "*"
markupsafe = "*"
multidict = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pygments = "*"
pyjwt = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
requests = "*"
simplegeneric = "*"
six = "*"
sqlalchemy = "*"
traitlets = "*"
visitor = "*"
wcwidth = "*"
werkzeug = "*"
wtforms = "*"
yarl = "*"
"jinja2" = "*"
"urllib3" = "*"
python-dotenv = "*"
pyenchant = "*"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.6"
